<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.AMS">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo_round"
        android:label="AMS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.example.AMS.DisplayDisease"></activity>
        <activity android:name="com.example.AMS.ForgotPassword" />
        <activity android:name="com.example.AMS.About" />
        <activity android:name="com.example.AMS.Diseases" />
        <activity android:name="com.example.AMS.Weather" />
        <activity android:name="com.example.AMS.Fertilizers" />
        <activity android:name="com.example.AMS.Crops" />
        <activity android:name="com.example.AMS.IntroScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.AMS.Agriculture" />
        <activity android:name="com.example.AMS.SignUp" />
        <activity android:name="com.example.AMS.SignIn" />
        <activity android:name="com.example.AMS.MainActivity" />
    </application>

</manifest>